extends ./layout/layout.pug

block main
  .search.clearfix
    .inpt
      input(type="text", class="layui-input layui-input-inline", name="search", placeholder="请输入搜索关键字")
    button(class="layui-btn") 搜索
          
  .list
    table(class="layui-table", lay-data="{id='commentList, url='/admin/commentList', page:true, height=400}")
      thead
        tr
          th(lay-data="{width: 80, field: 'commentTo'}") 所评文章
          th(lay-data="{width: 100, field: 'content'}") 评论内容
          th(lay-data="{width: 100, field: 'opt'}") 操作
              button(class="layui-btn") 编辑
              button(class="layui-btn layui-btn-warm") 删除
    include layout/laypage.pug