extends layout/layout.pug

block contents
  h1(style="color:red;text-align:center")= status
  h2(style="color:black;text-align:center") 即将跳转...

block scripts
  script.
    setTimeout(function(){
        location.href = "/";
    }, 2000)
